/ {

	aliases{
		tcrt5000 = &tcrt5000;
	};

        tcrt5000: tcrt5000 {
                compatible = "zephyr,tcrt5000";
                input-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
        };

};

&gpio0 {
        status = "okay";
};
