/ {

	aliases{
		trct5000 = &tcrt5000_node;
	};

        tcrt5000_node: tcrt5000 {
                compatible = "zephyr,tcrt5000";
                input-gpios = <&gpio0 4 GPIO_INPUT>;
        };

};

&gpio0 {
        status = "okay";
};
